<% include partials/header %>

    <h1></h1>
    </br>
    <div class="ui teal two column centered grid">
            <div class="row">
                <img class="ui fluid image" src="https://images.agoramedia.com/everydayhealth/gcms/How-Many-Calories-Are-in-a-Banana-1440x810.jpg?width=722">
            </div>
    </div>







<% include partials/footer %>